.contact-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-contact {
    color: #706f6f;
}

.contact-contentContainer {
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}